milkdown-theme-nord blockquote {
  @apply /*border-nord10*/ border-l-4 pl-4 font-serif not-italic;
}

.milkdown-theme-nord code {
  @apply /*text-nord10*/ font-mono font-normal;
}

.milkdown-theme-nord pre code {
  @apply text-inherit;
}

.milkdown-theme-nord img {
  @apply !my-0 inline-block max-w-full;
}

.milkdown-theme-nord.prose
  :where(blockquote):not(:where([class~="not-prose"] *)) {
  @apply font-normal;
}

/* .milkdown-theme-nord.prose
  :where(ol > li):not(:where([class~="not-prose"] *))::marker,
.milkdown-theme-nord.prose
  :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  @apply text-nord10;
} */

.milkdown-theme-nord.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"] *)
  )::before,
.milkdown-theme-nord.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"] *)
  )::after {
  content: "";
}

.milkdown-theme-nord.prose
  :where(code):not(:where([class~="not-prose"] *))::before,
.milkdown-theme-nord.prose
  :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.milkdown-theme-nord.prose .tableWrapper {
  @apply relative mb-2 overflow-x-auto;
}

.milkdown-theme-nord.prose table {
  @apply !m-4 !overflow-visible text-sm shadow-md sm:rounded-lg;
}

.milkdown-theme-nord.prose td,
.milkdown-theme-nord.prose th {
  @apply !px-6 !py-3;
}

.milkdown-theme-nord.prose tr {
  @apply border-b border-gray-200 dark:border-gray-600;
}

.milkdown-theme-nord.prose :where(td, th) p {
  @apply !m-0;
}

.milkdown-theme-nord.prose :where(td, th):nth-child(odd) {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* .milkdown-theme-nord.prose.ProseMirror .selectedCell:after {
  @apply bg-nord8/30;
} */

/* A little workaround to turn the element into a space */
.milkdown-theme-nord.prose br[data-is-inline="true"],
.milkdown-theme-nord.prose br[data-is-inline="true"]::after {
  content: " ";
}
